### 1. What is data encoding ? how is it useful in data science ?

- Data encoding refers to the process of converting categorical or textual data into numerical format. so that it can be used as input for algorithms to process. the reason for encoding is that most machine learning algorithms owrk with numbers and not with text or categorical variables.

- Data encoding is important in data science as it helps in converting data from machine-readable format back to a human-readable format. this crucial in understanding the results of data analysis and machine learning models and in communicating these results to stake holders.

### 2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

- nominal encoding or one hot encoding is a technique to represent categorical data as numerical data. in this technique each category is represented as binary vector where each bit corresponds to unique category.

In [6]:
## real world example of nominal encoding 
## imorting modules
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

## data
data = {'color':['red','blue','green','green','red','blue']}
df=pd.DataFrame(data)

## initializing the encoder
encode = OneHotEncoder()

## tranforming and fit the data
encoder = encode.fit_transform(df).toarray()

## displaying data with labels
result = pd.DataFrame(encoder,columns=encode.get_feature_names_out())
result

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

### 3. In what situations is ordinal encoding preferred over one-hot encoding? Provide a practical example.

- Ordinal encoding is a technique that assigns unique integer value to each category based on thier order or rank. where as one-hot encoding assigns numerical value to categorical variable regardless of its rank. 

- ordinal encoding is preferred when there is a need of retaining the information of order/ranking in the categorical varaibles to allow accurate model training.

In [22]:
##  practical example
## importing modules
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

## data
df = pd.DataFrame({
    'size':['small','large','medium','large','small','medium']
})

## initiating the encoder
ordinal = OrdinalEncoder(categories=[['small','medium','large']])

## fit and transform of data
ordinal_e = ordinal.fit_transform(df[['size']])

## printing the data into dataframe
result_ordinal = pd.DataFrame(ordinal_e,columns=ordinal.get_feature_names_out())

result_ordinal

   size
0   0.0
1   2.0
2   1.0
3   2.0
4   0.0
5   1.0

### 4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

- when dealing with ccategorical data with small number of unique values. one suitable encoding technique is one-hot encoding 

- one hot encoding converts each categorical data value into a binary vector where each unique value gets its own dimension, only one of it is set to hot (set to 1 ) and other are set to cold (0)

- its suitable for this scenario because :
1. Presaervation of information
2. Compatibility with machine learning allgorithms
3. Prevention of misinterpretation
4. Dimensionality increase

### 5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

- to use nominal encoding to transform the categorical data,we create a new binary column for each unique category in each categorical feature. the number of new columns created depends on the number of unique categories present in each categorical feature.

- lets say the categorical feature has n1 unique features and the second categorical has n2 unique features .

for each categorical feature :
1. we create n1 new columns for first categorical feature
2. we create n2 new columns for second categorical feature

total number of new columns created will be n1 + n2

given : 1000 rows and 5 columns (2 cat, 3 numerical)

assumption : 
1. first categorical feature has 4 unique categories (n1 = 4)
2. second categorical feature has 3 uniuq categories (n2 = 3)

using nominal encoding the new columns created will be (n1 + n2) = (4 + 3) = 7

### 6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

- the dataset contains information about different types of animals including thier species,habitat,diet suitable technique could be combination of ordinal and one-hot encoding. 

1. species : 
- oridnal encoding if the species clearly exhibit hierarchical or ordinal relationship, you could consider using ordinal encoding. 
- one-hot encoding if there is no inherent hierarchy among the species.

2. Habitat and Diet :
- one hot encoding since habitat and diet are categorical variables with no inherent order or hierarchy.

### 7. Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

- Gender encoding : Label encoding where male is encoded as 0 and female is 1
- Contract encoding : Ordinal encoding with integer labels

In [ ]:
## importing modules
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

## initializing the encoders
label_encoder = LabelEncoder()
ordinal_encoder = OrdinalEncoder()

## fit and transform data into new columns
data['gender'] = label_encoder.fit_transform(data['gender'])
data['contract_type'] = ordinal_encoder.fit_transform(data[['contract_type']])